
*.lock

*.bin

Cahoot-App/.gradle/1.12/taskArtifacts/cache.properties.lock

Cahoot-App/.gradle/1.12/taskArtifacts/fileHashes.bin

Cahoot-App/.gradle/1.12/taskArtifacts/taskArtifacts.bin

Cahoot-App/.gradle/1.12/taskArtifacts/taskArtifacts.bin

Cahoot-App/.gradle/1.12/taskArtifacts/fileSnapshots.bin
